extends layout

block content
  div#index.wrap-page.wrap-page-index.hidden
    div.hero
      h2.title-page.title-home 
        strong #{msg.home.title}
        | #{msg.home.subtitle}
      p.desc-me #{data.user.sections.About}
      a.link(href='#contact') #{msg.home.linkStartWork}
    footer
      nav.nav-footer
        a(href='#{msg.user.twitter}').link-twitter
        a(href='#{msg.user.facebook}').link-facebook   

  div#works.wrap-page.wrap-page-works.hidden
    a(href='#index').page-works-close X
    div.works
      ul.lst-works
        each collection, i in data.collections
          - var col_style = ((i + 1) % 2 == 0) ? 'col-even' : 'col-odd'
          - var mod4 = (i + 1) % 4
          - var row_style = ( mod4 == 0 || mod4 == 3) ? 'row-even' : 'row-odd'   
          li(class='item-work #{row_style} #{col_style} item-work#{i+1}')
            h4.title-work #{collection.title}
            div.work-wrapper
              div.background-work
              span.work-wrapper-close X
              div.wrap-content-work
                h4.title-work #{collection.title}
                ul.lst-projects
                  - var k = 0
                  - var lenghtProjects = collection.projects.length
                  - for (; k < lenghtProjects; k++)
                    li.item-project(data-id='#{collection.projects[k].id}', title='#{collection.projects[k].name}') 
                      img.thumbail-project(src='#{collection.projects[k].covers["202"]}')
                      span.caption-project #{collection.projects[k].name}
                div.detail-project-wrapper
                  ol.lst-photos-project
                    li
                      div.loading
                  

  div#contact.wrap-page.wrap-page-contact.hidden
    div.hero.hero-well
      p #{msg.contact.contacme}:
      p
        ul.lst-contact
          li #{msg.contact.mail}: 
            a.link(href='mailto:#{msg.user.mail}') #{msg.user.descMail}
          li #{msg.contact.twitter}:
            a.link(href='#{msg.user.twitter}') #{msg.user.descTwitter}
          li #{msg.contact.facebook}:
            a.link(href='#{msg.user.facebook}') #{msg.user.descFacebook}

      //p
      //  | O a través del siguiente formulario:
      //  form.frm-contact
      //    ul.lst-frm
      //      li.item-frm
      //        label 
    footer
      nav.nav-footer
        a(href='#{msg.user.twitter}').link-twitter
        a(href='#{msg.user.facebook}').link-facebook

  script(src='javascripts/views/app-view.js') 
  script(src='javascripts/views/works-view.js')  
   
