doctype 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= msg.title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //[if lt IE 9]><!
    script(src='javascripts/vendor/html5shiv.js')
    //<![endif]
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href='http://fonts.googleapis.com/css?family=Snippet', rel='stylesheet', type='text/css')

    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')

    link(href='http://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet', type='text/css')

    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet', type='text/css')

    script(src='javascripts/vendor/modernizr-2.6.2.min.js')
    script(src='javascripts/vendor/routie.min.js')
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\\/script>')

    script(src='javascripts/vendor/hogan-2.0.0.min.js')

    header.main-header
      div.logo
        h1
          a(href='#index') MJdelunares Diseño Gráfico y Editorial
      nav.menu-main

        article.nav-item
          a(href='#index').nav-item-link
            span.nav-item-icon.icon-home
            strong.nav-item-description #{msg.menu.home}

        article.nav-item
          a(href='#works').nav-item-link
            span.nav-item-icon.icon-works
            strong.nav-item-description #{msg.menu.works}

        article.nav-item
          a(href='#contact').nav-item-link
            span.nav-item-icon.icon-contact
            strong.nav-item-description #{msg.menu.contact}

       
    block content