@import "normalize"
@import 'nib'

body 
  padding: 0
  margin: 0
  font-family: 'Quicksand', sans-serif;
  background-color: #000
  background-image: url(../images/pattern.png)
  background-repeat: repeat
  background-position: 28px -25px
  color: #fff

//common styles
.hidden {display: none}
.link
  text-decoration: none
  color: #6cc4ef

.title-page 
  font-weight: normal
  font-family: 'Julius Sans One', sans-serif
  strong
    padding-right: 20px
    font-weight: bold
    font-size: 34px

.hero
  background-color: #000
  border-radius: 14px
  display: inline-block
  padding: 0px 30px 35px 30px
  margin: 70px 60px 10px 60px
  width: 525px
  &.hero-well
    background: none

.main-header
  background-color: #000

header
  clearfix();

.logo
  width: 176px
  height: 178px
  background-image: url(../images/logo.png)
  background-repeat: no-repeat
  background-position: 0 0
  float: left;

.logo
  h1
    margin: 0
    height: 100%
    width: 100%
    a
      display: block
      height: 100%
      width: 100%
      text-indent: -9000px

.menu-main 
  float: right
  margin: 45px 20px 20px 20px

.nav-item
  height: auto
  float: left
  margin-right: 30px
  min-width: 65px
  
.nav-item-link
  display: inline-block
  color: #fff
  text-decoration: none
  .nav-item-icon
    display: inline-block
    min-width: 65px
    min-height: 65px
    margin-bottom: -9px
    position: relative
    &.icon-home
      background: url(../images/home.png) no-repeat
    &.icon-works
      background: url(../images/works.png) no-repeat
    &.icon-contact
      background: url(../images/contact.png) no-repeat
      margin-bottom: -10px
  .nav-item-description
    font-weight: normal
    font-family: 'Roboto Condensed', sans-serif;
    width: 0;
    overflow: hidden
    display: inline-block
    background-color: #6cc4ef
    margin-left: -32px
    padding: 0;
    border-radius: right 14px
    transition: padding .250s linear
  &:hover
    .nav-item-description
      width: auto;
      padding: 3px 25px 5px 40px
    .nav-item-icon
      &.icon-home
        background: url(../images/home-hover.png) no-repeat
      &.icon-works
        background: url(../images/works-hover.png) no-repeat
      &.icon-contact
        background: url(../images/contact-hover.png) no-repeat



footer
  background-image: url(../images/footer.png)
  background-repeat: repeat-x
  background-position: left top
  height: 90px
  position: absolute
  bottom: 0
  width: 100%

.nav-footer
  float: right;
  margin: 30px 30px 10px 10px
  & a
    opacity: .6
    margin-left: 5px
    &:hover
      opacity: 1

.link-twitter, .link-facebook
  display: inline-block
  height: 40px

.link-twitter
  width: 38px
  background: url(../images/twitter.png) no-repeat 0 2px
  
.link-facebook
  width: 27px
  background: url(../images/facebook.png) no-repeat


// page home
.desc-me
  font-size: 14px
  white-space: pre-wrap
  margin-bottom: 5px


// page works
.wrap-page-works
  position: absolute
  box-sizing: border-box
  padding: 40px 0
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #000
  background-image: url(../images/pattern.png)
  background-repeat: repeat

.page-works-close
  position: absolute
  top: 10px
  right: 15px
  font-size: 34px
  cursor: pointer
  min-width: 20px
  z-index: 6
  text-decoration: none
  color: #fff

.title-works
  margin-bottom: 5px
  

.works
  clearfix()
  padding: 0 20px

.lst-works
  clearfix()
  margin: 40px auto 20px auto
  padding: 0
  list-style: none
  max-width: 860px

.item-work
  float: left
  min-height: 150px
  line-height: 150px
  vertical-align: middle
  text-align: center
  background-color: #6cc4ef
  margin-bottom: 10px
  width: 49%
  cursor: pointer
  opacity: .9
  transition: all .250s linear
  &:hover
    padding: 0 6px
  &.col-even
    float: right
    &:hover
      margin-right: -3px
  &.col-odd
    clear: left
    &:hover
      margin-left: -3px

.item-work-active
  opacity: 1
  cursor: default

.row-odd
  &.col-odd
    width: 69%
  &.col-even
    width: 29%

.row-even
  &.col-odd
    width: 29%
  &.col-even
    width: 69%

.title-work
  margin: 0
  color: #333
  font-weight: normal
  font-size: 22px
  font-family: 'Snippet', sans-serif


.item-work1, .item-work1 .background-work
  background-color: #bae2f5
.item-work2, .item-work2 .background-work
  background-color: #ffef98
.item-work3, .item-work3 .background-work
  background-color: #f3a2b9
.item-work4, .item-work4 .background-work
  background-color: #a58abf
.item-work5, .item-work5 .background-work
  background-color: #c9dc92
.item-work6, .item-work6 .background-work
  background-color: #f9ba82
.item-work7, .item-work7 .background-work
  background-color: #e3b075
.item-work8, .item-work8 .background-work
  background-color: #8cc9a4
.item-work9, .item-work9 .background-work
  background-color: #ea528f
.item-work9, .item-work9 .background-work
  background-color: #474797

.work-wrapper
  overflow: hidden
  z-index: 100
  background-color: #000
  background-image: url(../images/pattern.png)
  background-repeat: repeat
  background-position: 0 0
  position: absolute
  width: 0
  height: 0
  line-height: 100%;
  text-align: left


.background-work
  opacity: .9
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  

.work-wrapper-close
  position: absolute
  top: 25px
  right: 20px
  font-size: 34px
  cursor: pointer
  min-width: 20px
  z-index: 6


.wrap-content-work
  position: relative
  overflow: auto
  height: 100%
  padding: 50px
  box-sizing: border-box
  & .title-work
    color: #fff
    text-align: center 

body.show-detail-work {
  overflow: hidden;
}

.lst-projects
  clearfix()
  padding: 0
  list-style: none
  margin-top: 30px
  text-align: center

.item-project
  background-color: #fff
  margin-bottom: 25px
  clearfix()
  display:inline-block
  margin-right: 15px
  cursor: pointer
  padding: 2px
  width: 202px
  text-align: left
  box-shadow: 0 8px 6px -6px #666
  &.selected
    background-color: #333
    & .caption-project
      color: #fff

.caption-project {
  color: #666
  font-size: 14px
  padding: 0 5px
  padding: 5px 5px;
  display: inline-block;
}

.thumbail-project
  float: left


.lst-photos-project
  list-style: none
  background: #fafafa
  box-shadow: 0px 2px 8px 2px #999;
  padding: 50px
  width: 600px;
  margin: auto;

//page contact

.title-contact
  margin-bottom: 5px

.item-photo-project 
  text-align: center
  margin-bottom: 50px
  

.bg-photo-project
  position: relative
  display: inline-block
  &:hover img
    opacity: .7
  &:hover .wrap-caption-foto
    display:block
    opacity: 1
  &:hover
    background-color: #666

.wrap-caption-foto
  display: none
  opacity: 1
  margin-top: -57px
  background: #333
  color: #fff
  position: relative
  padding: 20px
  box-sizing: border-box

.lst-contact li
  margin-bottom: 5px

.lst-contact .link 
  margin-left: 10px


.loading 
  text-align: center
  width:120px
  height:40px
  margin: auto
  background: url(../images/loading.gif) no-repeat
  margin-top: 5px